################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/InSolusFabula-AdvJam2016/Library
/InSolusFabula-AdvJam2016/RotationTest_Build
/InSolusFabula-AdvJam2016/Temp
/Release 0.1
/WindowsRelease 0.1
